# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Outputs / logs
logs/
*.png
*.csv

# Model artifacts
*.zip
*.pt


.DS_Store

requirements_full.txt
PPO_Variants_old.ipynb
ppo_stacked_2025-12-11_10-40.zip
PPO_Variants.ipynb
eval.ipynb
.DS_Store
.DS_Store
.DS_Store
PPO_Variants copy.ipynb
